<div class="four-image-grid-zipper image-grid">
    <a 
        href="{{ site.storageurl }}/DSCF1063.jpg" 
        target="_blank" 
        rel="noreferrer noopener" 
        style='background-image: url("{{ site.storageurl }}/DSCF1063.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1514.jpg" 
        target="_blank" 
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1514.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1524.jpg"
        target="_blank"
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1524.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1545.jpg"
        target="_blank"
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1545.jpg");'>
    </a>

</div>
