<div class="image-grid-row">
    <div class="image-grid-column one-third-column">
       <img src="{{ site.storageurl }}/DSCF0470.jpg" alt="boats-lined-up"/> 
       <img src="{{ site.storageurl }}/DSCF0833.jpg" alt="a-glacier"/> 
    </div>
    <div class="image-grid-column one-third-column">
       <img src="{{ site.storageurl }}/DSCF0444.jpg" alt="camper-driving-up-road"/> 
       <img src="{{ site.storageurl }}/DSCF0455.jpg" alt="moss-and-mountains"/> 
    </div>
    <div class="image-grid-column one-third-column">
       <img src="{{ site.storageurl }}/DSCF0499.jpg" alt="home-in-iceland"/> 
       <img src="{{ site.storageurl }}/DSCF0537.jpg" alt="rocks-on-the-coast"/> 
    </div>
</div>
