<div class="five-image-grid-three-col">
    <div class="grid-image-item" style='background-image: url("{{ site.storageurl }}/DSCF0558.jpg");'></div>
    <div class="grid-image-item" 
        style='background-image: url("{{ site.storageurl }}/DSCF0833.jpg"); background-position: center;'></div>
    <div class="grid-image-item" 
        style='background: url("{{ site.storageurl }}/DSCF0444.jpg") 0 -6.5em no-repeat; background-size: cover;'></div>
    <div class="grid-image-item" style='background-image: url("{{ site.storageurl }}/DSCF0499.jpg");'></div>
    <div class="grid-image-item" style='background-image: url("{{ site.storageurl }}/DSCF0537.jpg");'></div>
</div>



