<div class="three-image-grid-one">
    <a href="{{site.storageurl}}/DSCF0558.jpg" target="_blank" rel="noreferrer noopener">
        <img src="{{site.storageurl}}/DSCF0558.jpg" alt="village">
    </a>
    <a href="{{site.storageurl}}/DSCF0833.jpg" target="_blank" rel="noreferrer noopener">
        <img src="{{site.storageurl}}/DSCF0833.jpg" alt="">
    </a>
    <a href="{{site.storageurl}}/DSCF0444.jpg" target="_blank" rel="noreferrer noopener">
        <img src="{{site.storageurl}}/DSCF0444.jpg" alt="">
    </a>
</div>
