<div class="five-image-grid-top-pano image-grid">
    <a 
        href="{{ site.storageurl }}/DSCF1902.jpg" 
        target="_blank" 
        rel="noreferrer noopener" 
        style='background-image: url("{{ site.storageurl }}/DSCF1902.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1860.jpg" 
        target="_blank" 
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1860.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1837.jpg"
        target="_blank"
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1837.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1959.jpg" 
        target="_blank" 
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1959.jpg");'>
    </a>
    <a 
        href="{{ site.storageurl }}/DSCF1807.jpg"
        target="_blank"
        rel="noreferrer noopener"
        style='background-image: url("{{ site.storageurl }}/DSCF1807.jpg");'>
    </a>
</div>


<!--
    1902 - drone controller
    1959 - zach catch
    1860 - sunset chairs
    1837 - zach fire
    1807 - low grass chairs
-->
