
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-container {
    width: 62%;
	max-width: 1000px;
}

@media only screen and (max-width: 1600px) {
    
    #main-container {
        width: 92%; 
    }
}

#site-header {
    text-align: center;
}

.post-header {
    text-align: center;
	margin-top: 120px;
	margin-bottom: 42px;
}

.post-header p {
	font-size: .9em;
	color: #a8a8a8;
	padding: 0 0;
	margin: 0 0;
}

#site-title {
    text-transform: uppercase;
	color: #121212;
	letter-spacing: .3em;
}

#site-title h1 {
	font-size: 47px;
}

body p {
	font-family: 'Open Sans', sans-serif; 
	line-height: 2.1em;
	color: #121212;
	padding-top: .3em;
	padding-bottom: .3em;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 700; 
}

h2 {
    font-weight: 400;
	font-size: 36px;
	color: #121212;
	margin: 0 0;
}

h2 a:link {
	color: #121212;
    text-decoration: none;
}

h2 a:visited {
	color: #121212;
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
	color: #a8a8a8;
}


nav a:link {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif; 
	font-size: .9em;
    text-decoration: none;
	color: #a8a8a8;
}

nav .active-page {
	color: #121212 !important;
    font-weight: 700;
}


/***********************************************/
/* Settings for image grids stored in _layouts */
/***********************************************/

/* Five image and three column image grid */
.three-image-grid-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr; 
    grid-gap: 7px;
}

.three-image-grid-one a {
    min-height: 320px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.three-image-grid-one > a:nth-of-type(1) {
    grid-row: span 1;
    grid-column: span 3;
}

.three-image-grid-one > a:nth-of-type(2) {
    grid-row: span 1;
    grid-column: span 1;
    /*height: 560px;*/
}


.three-image-grid-one > a:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2; 
}


/* Settings to ensure youtube embed video takes up full width. */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}























